Django==5.2.7
djangorestframework
google-genai==2.8.0
gunicorn==26.0.0
numpy==2.3.5
opencv-python-headless==4.13.0.92
paddleocr==3.3.3
paddlepaddle==3.2.0
Pillow==12.2.0
PyMuPDF==1.27.2.3
python-dotenv==1.2.2
whitenoise==6.12.0
psutil==7.2.2S